@CHARSET "UTF-8";
/* ------- This is the CSS Reset ------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ------- HTML5 display-role reset for older browsers ------- */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{ vertical-align:middle;}
li{ list-style:none;}
a{ text-decoration:none;}
body {
	line-height: 1;
	height: 100%;
	width: 100%;
	font-size:12px;
	font-family:"宋体",Arial;
	color:#000;
}
.fl{float: left;}
.fr{float: right;}
.fclear{font-size:0px; clear:both;}
.fclear-height{clear: both;height: 25px;width: 100%;}
.clear{clear: both;}

/*********/
.insertPage{
	padding:30px 10px 10px 10px;
}
.title{
	font-size:18px;
	font-family:"宋体",Arial;
	font-weight:bold;
	width:100%;
	height:30px;
}

.button{
	border-width: 1px;
    border-style: solid;
    border-color: #cecece;
    border-radius: 6px;   /*边框倒圆角*/
    padding: 8px 12px;
    background: #DA4E49;
    font-size:12px;
	font-family:"宋体",Arial;
	font-weight:bold;
	color: #FFFFFF;
}
.button::after{
	background: #FFFFFF;
}
.list{
	padding:20px 10px;
}
.list-title{
	font-size:16px;
	font-family:"宋体",Arial;
	font-weight:bold;
	background: #60C5FE;
}

/*添加页面*/
.add{
	margin: 0 auto;
	text-align: center;
	padding: 20px 100px 100px 100px;
}
.style-add input{
width:360px;
height:16px;
}
.style-add textarea{ resize:none; width:300px; height:100px;margin: 10px 10px 10px 10px;}